@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Backgrounds */
  --bg: #ffffff; /* page background */
  --surface: #f8f8f8; /* card / section bg */
  --border: #e5e7eb; /* border color */

  /* Text */
  --text-primary: #111111;
  --text-secondary: #6b7280;

  /* Buttons / Brand */
  --primary: #222222;
  --primary-text: #ffffff;

  /* Accent (price / highlight) */
  --accent: #ca8a04;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --surface: #18181b;
    --border: #3f3f46;

    --text-primary: #f5f5f5;
    --text-secondary: #a1a1aa;

    --primary: #ffffff;
    --primary-text: #000000;

    --accent: #eab308;
  }
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
